.posts-index {
	.table {
		border-collapse: collapse;

		.thead-title {
			background-color: aqua;
			font-size: 20px;
		}

		th,
		td {
			border: solid 2px; /* 枠線指定 */
			border-color: lightgrey;
			padding: 10px; /* 余白指定 */
		}
	}
}

.posts-form {
}
